[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.fix-height-card {
    max-height: 400px;
}

.fix-height-card-vis {
    max-height: 600px;
}



.err {
  display: inline-block;
  position: relative;
}
.err:before {
  content: "~~~~~~~~~~~~";
  font-size: 0.6em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: red;
  width: 100%;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}

.selected {
   background-color: #ffa;
    -webkit-transition: all 0.5s linear;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  min-height: calc(70vh - 20px);

}

.smell-section-title {
  margin-top:50px;
}

.smell-section-title-first {
  margin-top:15px;
}


md-card {
  max-width: 800px;
}
